.row-header{
	margin:0px auto;
	padding: 0px auto;
}
.row-content{
	margin:0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom:1px ridge;
	min-height: 400px;
}

.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
    background:linear-gradient(100deg, #696969 57%,gold 30%);
    color:floralwhite;
	
}
.carousel{
	
	background-image: linear-gradient(to right, rgb(0, 0, 0) , #e4deaa );
}
.carousel-item{
    height:200px;
    padding: 60px 40px 80px 0px;
    
}
.carousel-item img{
	position: absolute;
	top:0;
	left: 0;
    min-height: 200px;
    width:200px;
}

.navbar{
    background-color: black;
}
body {
	padding: 50px 0px 0px 0px;
	z-index: 0; }